*{
    /* background-color: aqua; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* h1{
    color: green;
} */
/* 
h2{
    color: salmon;
} */

.Box > h1,
.Box > h3,
.Box > h5,
.Box > p{
    color: yellow;
}


#one > h2{
    color: red;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 100px;
}

/* p{
    background-image: url(./Assets/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.boxes{
    width: 200px;
    height: 200px;
    background-color: olive;
    /* padding-left: 30px;
    padding-top: 50px; */
    padding: 30px 50px 70px 120px;
    border: 5px solid black;
    /* margin-left: 50px;
    margin-top: 100px; */
    margin: 30px;
}

.box1{
    width: 200px;
    height: 100px;
    background-color: gold;
    /* flex: 1; */
    order: 3;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 1;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: gray;
    /* flex: 1; */
    order: 2;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
}

.box5{
    width: 200px;
    height: 100px;
    background-color: hotpink;
}

.box6{
    width: 200px;
    height: 100px;
    background-color: darkcyan;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: coral;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: crimson;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: greenyellow;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: orange;
}


/* .container{ */
    /* display: flex; */
    /* height: 500px; */
    /* border: 3px solid black; */
    /* flex-direction: row-reverse; */
    /* justify-content: start; */
    /* align-content: center; */
    /* flex-wrap: wrap; */
    /* gap: 10px; */
/* } */

/* h2{
    background-color: red;
} */

.box{
    width: 200px;
    height: 200px;
    background-color: coral;
    position: relative;
    left: 20px;
    top: 50px;
    /* margin-top: 50px; */
}

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-top: 50px;
    /* position: relative; */
}

.yellowBox{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: sticky;
    top: 10px;
}

/* body{
    background-color: aqua;
} */

.container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-template-rows: 1fr 2fr 1fr;
    /* column-gap: 20px;
    row-gap: 20px; */
    gap: 20px;
}

.para{
    padding: 20px;
    background-color: red;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    grid-auto-flow: row;
}

.item{
    background-color: green;
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.item2{
    grid-row: span 2;
}

.layout > div{
    border: 1px solid black;
    background-color: coral;
    font-size: 50px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "h h h h h"
    "sb1 m m m sb2"
    "f f f f f";
}

.header{
    grid-area: h;
}

.sidebar1{
    grid-area: sb1;
}

.sidebar2{
    grid-area: sb2;
}

.main{
    grid-area: m;
}

.footer{
    grid-area: f;
}

.square{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transition-duration: 5s;
    /* transition-property: background-color; */
    transition-timing-function: linear;
    /* transition-delay: 3s; */
}

.square:hover{
    width: 600px;
    background-color: crimson;
    transform: translate(20px);
}

.one{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 5s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes circle{
    50%{
        width: 200px;
        height: 200px;
        background-color: aqua;
        left: 100px;
    }

    100%{
        background-color: yellow;
        width: 400px;
        height: 400px;
        left: 150px;
    }
}




@media screen and (max-width:320px) {
    h1{
        color: red;
        background-color: black;
    }
}

@media screen and (max-width:500px) {
    h2{
        color: coral;
    }
}

@media screen and (max-width:375px) {
    h3{
        background-color: hotpink;
        font-size: 45px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}